@import "./node_modules/bulma/sass/utilities/initial-variables"

$red: #ff1c00

$orange: #ff7f00

$green: #679935
$blue: #2E4870
$teal: #287258

$primary: $teal

$info: $blue
$danger: $orange
$success: $green

$body-background: $white

@import "./node_modules/bulma/bulma.sass"
